body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  display: flex;
  flex-direction: column;
}

.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  border-bottom: 1px solid lightgrey;
  padding: 15px 10px;
  box-sizing: border-box;
  background: white;
}

.Title {
  font-size: xx-large;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: red;
  width: 30%;
  margin-left: 10px;
  cursor: pointer;
}

.pokeballImg {
  size: 20px;
}

.searchForm {
  flex-direction: row;
}

.inputSearch {
  margin-left: 5px;
}

.infoText {
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  width: 99%;
  margin: 5px 5px 2px 5px;
}

.containerList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-items: center;
  min-height: 15%;
  margin: 5px 15px 2px 15px;
}

.pokeLink {
  text-decoration: none;
}

.pokeList {
  display: flex;
  width: 25%;
  height: 105px;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid lightgrey;
  color: lightseagreen;
  background-color: whitesmoke;
  cursor: pointer;
}

.pokeList:hover {
  opacity: 0.7;
  color: red;
  border: 1px solid red;
}

.pokeInfo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-items: center;
  justify-content: space-around;
  align-items: baseline;
  margin: 25px 25px 10px 25px;
  box-shadow: 10px 10px 5px -6px rgba(196, 186, 196, 1);
  background-color: white;
}

.pokeNameAndImg {
  display: flex;
  flex-direction: column;
}

.pokemonName {
  color: red;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-left: 15px;
}

.pokemon-img {
  margin-top: 50px;
  margin-left: 15px;
  border: 5px solid lightskyblue;
  border-radius: 50%;
  padding: 5px;
  width: 250px;
}

.back {
  margin: 40px 0px 0px 15px;
  color: white;
  background-color: red;
  border: 1px black solid;
  transition-duration: 0.4s;
  cursor: pointer;
}

.back:hover {
  border: 1px red solid;
  background-color: white;
  color: red;
}

.pokeType {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.Type {
  font-size: large;
  color: red;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.pokeStats {
  display: flex;
  flex-direction: column;
}

.pokemonStat {
  color: red;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.stats {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.pokeMoves {
  display: flex;
  flex-direction: column;
}

.Move {
  color: red;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-right: 15px;
}

.listMove {
  height: 500px;
  overflow-y: scroll;
  overflow-x: none;
  margin-right: 15px;
}

.paginationContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.navButton {
  text-align: center;
  text-decoration: none;
  font-size: large;
  width: 86px;
  margin-right: 7px;
  color: white;
  background-color: red;
  border: 1px black solid;
  transition-duration: 0.4s;
  cursor: pointer;
}

.navButton:hover {
  border: 1px red solid;
  background-color: white;
  color: red;
}

@media (max-width: 860px) {
  .pokeInfo {
    flex-direction: column;
    align-content: center;
  }
}

p {
  margin: 2px;
}

h1 {
  text-align: center;
}

#root {
  min-height: 100vh;
  background-color: lightgray;
}
