body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  display: flex;
  flex-direction: column;
}

.Header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  width: 99%;
  margin: 10px 0px 10px 0px;
  padding-bottom: 5px;
  border-bottom: 1px solid lightgrey;
}

.Title {
  font-size: xx-large;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: lightseagreen;
  width: 30%;
  margin-left: 10px;
}

.searchForm {
  width: 70%;
  flex-direction: row;
}

.inputSearch {
  margin-left: 5px;
}

.infoText {
  text-align: center;
  font-size: larger;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  width: 99%;
}

.containerList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-items: center;
  width: 99%;
  height: 15%;
  margin: 30px 5px 5px 5px;
}

.pokeLink {
  text-decoration: none;
}

.pokeList {
  display: flex;
  width: 25%;
  height: 100px;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid lightgrey;
  color: lightseagreen;
  background-color: whitesmoke;
}

.pokeInfo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-items: center;
  justify-content: space-between;
  align-items: baseline;
  width: 99%;
  height: 590px;
  margin: 3px 3px 3px 3px;
  box-shadow: 10px 10px 5px -6px rgba(196, 186, 196, 1);
}

.pokeNameAndImg {
  display: flex;
  flex-direction: column;
}

.pokemonName {
  color: lightseagreen;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-left: 15px;
}

.pokemon-img {
  margin-top: 50px;
  margin-left: 15px;
  border: 5px solid lightskyblue;
  border-radius: 50%;
  padding: 5px;
  width: 250px;
}

.pokeType {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.Type {
  font-size: large;
  color: lightseagreen;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.pokeStats {
  display: flex;
  flex-direction: column;
}

.pokemonStat {
  color: lightseagreen;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.stats {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.pokeMoves {
  display: flex;
  flex-direction: column;
}

.Move {
  color: lightseagreen;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-right: 15px;
}

.listMove {
  height: 500px;
  overflow-y: scroll;
  overflow-x: none;
  margin-right: 15px;
}

.back {
  margin: 40px 0px 0px 15px;
}

/* .prevButton{

} */
